---
type Props = {
	size: number;
};
const { size } = Astro.props as Props;
---

<svg
	class="logo"
	width={size}
	height={size}
	viewBox="0 0 931 931"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<style>
		path {
			fill: var(--theme-text-accent);
		}
	</style>
	<title>Logo</title>
	<rect width="500" height="550" x="90" y="90" stroke="none" fill="white"></rect>
	<g transform="matrix(1.3338109 0 0 1.3338109 0 0)">
		<rect width="500" height="550" x="90" y="90" stroke="none" fill="white"></rect>
		<g transform="matrix(0.1 0 -0 -0.1 0 698)">
			<path d="M840 6965C 627 6929 464 6849 316 6710C 147 6551 55 6374 15 6135C 2 6057 0 5709 0 3490C 0 1848 4 910 10 865C 42 642 128 465 284 302C 438 142 634 43 865 10C 961 -3 6019 -3 6115 10C 6338 42 6522 131 6677 283C 6840 441 6937 635 6970 865C 6983 961 6983 6019 6970 6115C 6956 6210 6914 6352 6877 6425C 6759 6662 6543 6851 6303 6926C 6120 6983 6268 6980 3480 6979C 1447 6978 899 6975 840 6965zM5692 6007C 5753 5977 5797 5933 5832 5867L5832 5867L5855 5825L5855 4245L5855 2665L5825 2611C 5788 2545 5733 2496 5663 2470C 5610 2450 5588 2450 3530 2450L3530 2450L1451 2450L1393 2471C 1317 2500 1250 2567 1221 2643L1221 2643L1200 2701L1200 4244C 1200 5608 1202 5793 1215 5831C 1249 5927 1311 5989 1403 6022C 1452 6039 1559 6039 3545 6037L3545 6037L5635 6035L5692 6007zM5805 2258C 5860 2233 5860 2231 5860 1715C 5860 1199 5860 1197 5805 1172C 5785 1163 5252 1160 3529 1160C 1081 1160 1239 1156 1212 1215C 1194 1255 1196 2186 1214 2219C 1244 2272 1105 2269 3527 2270C 5252 2270 5785 2267 5805 2258z" stroke="none" fill-rule="nonzero" />
			<path d="M1600 4245L1600 2850L3530 2850L5460 2850L5460 4245L5460 5640L3530 5640L1600 5640L1600 4245zM4140 5183C 4140 5180 4057 4996 3956 4776C 3854 4555 3659 4130 3521 3830L3521 3830L3271 3285L3095 3282C 2999 3281 2920 3282 2920 3284C 2920 3288 3109 3701 3727 5048L3727 5048L3793 5190L3966 5190C 4062 5190 4140 5187 4140 5183zM2858 4584L2855 4519L2521 4370C 2338 4288 2187 4220 2185 4218C 2183 4216 2335 4152 2521 4076L2521 4076L2860 3936L2860 3794L2860 3652L2583 3776C 2430 3845 2203 3947 2078 4002L2078 4002L1850 4104L1850 4215L1850 4327L2098 4438C 2234 4499 2460 4601 2600 4663L2600 4663L2855 4777L2858 4714C 2860 4679 2860 4620 2858 4584zM4718 4549L5220 4325L5220 4215L5220 4105L4817 3926C 4596 3827 4367 3725 4308 3699L4308 3699L4200 3651L4200 3793L4200 3935L4503 4059C 4669 4128 4823 4192 4845 4201L4845 4201L4885 4218L4820 4247C 4784 4264 4630 4332 4478 4400L4478 4400L4200 4523L4200 4652C 4200 4723 4203 4779 4208 4777C 4212 4775 4441 4672 4718 4549z" stroke="none" fill-rule="nonzero" />
			<path d="M5059 1947C 5002 1926 4962 1893 4933 1842C 4909 1803 4905 1783 4905 1724C 4905 1663 4909 1647 4935 1604C 4954 1574 4984 1544 5014 1525C 5057 1499 5073 1495 5135 1495C 5197 1495 5213 1499 5256 1525C 5286 1544 5316 1574 5335 1604C 5361 1647 5365 1663 5365 1725C 5365 1787 5361 1803 5335 1846C 5278 1937 5154 1983 5059 1947z" stroke="none" fill-rule="nonzero" />
			<path d="M1600 1715L1600 1520L2185 1520L2770 1520L2770 1715L2770 1910L2185 1910L1600 1910L1600 1715z" stroke="none" fill-rule="nonzero" />
		</g>
</svg>
