---
import "../styles/theme.css";
import "../styles/index.css";
import "../styles/shu-styles.scss";
import HeadScripts from "./HeadScripts.astro";
import FilterContentHead from "@components/ContentFiltering/FilterContentHead.astro";
import HeadSEO from "./HeadSEO.astro";
import type { MarkdownHeading } from "astro";
import * as CONFIG from "@config";
const base = (Astro?.base ?? Astro?.site)?.pathname?.replace(/\/$/gm, "") ?? "";
type Props = {
  frontmatter?: CONFIG.Frontmatter;
  headings?: MarkdownHeading[];
  title?: string;
};
const defaultTitle = CONFIG?.SITE?.title;
const { frontmatter, headings, title } = Astro.props as Props;
const canonicalURL = new URL(Astro.url);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<link rel="icon" type="image/svg+xml" href={`${base}/favicon.ico`} />
<link rel="manifest" href={`${base}/manifest.json`} />
<link rel="sitemap" href={`${base}/sitemap-index.xml`} />
<meta name="theme-color" content="#b8004d" />
<link rel="apple-touch-icon" href={`${base}/icons/apple-touch-icon.png`} />
<title>{title ?? defaultTitle}</title>
<!-- Preconnect to Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin />
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
<!-- FilterContent -->
<FilterContentHead />
<!-- SEO -->
<HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} />
<!-- Scripts -->
<HeadScripts />
